@import "../../styles/global.scss";


.container{
margin: 5px;
display: flex;
}
.page_title{
    color: var(--text-color-contract);
    font-size: var(--font-size-l);
font-family: var(--font-family);
font-weight: 450;
padding: 0;
padding-bottom: 10px;

}
.title{
padding-top: 8px;
color: var(--text-color-contract);
font-size: var(--font-size-m);
font-family: var(--font-family);
font-weight: 200;
}
.text_block{
font-size: var(--font-size-s);
font-family: var(--font-family);
border: none;
padding: 15px;

}
.text{
color: var(--text-color-main);
flex: 1;
align-content: center;

}
.map{
padding: 10px;
margin-left: 40px;

align-items: center;
flex: 1;
}
.mapBox{
margin: 10px;
align-items: center;

box-sizing: border-box;
box-shadow: 5px 4px 15px rgba(35, 103, 171, 0.579);
}