:root {
  --font-family-title: "Bellota Text", sans-serif;
  --font-family-text: "Montserrat", sans-serif;
  --font-block: "Oswald", sans-serif;
  --font-link: "Comfortaa", sans-serif;



  --text-color: rgb(7, 102, 189);
  --block-color: rgb(7, 102, 189);
--foo-color: rgb(6, 90, 166);


}
