:root {
  --font-family-title: "Bellota Text", sans-serif;
  --font-family-text: "Montserrat", sans-serif;
  --font-block: "Oswald", sans-serif;
  --font-link: "Comfortaa", sans-serif;
  --font-size-xl: 48px;
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-xs: 12px;

  --color-main: rgba(233, 240, 242, 0.911);
  --color-blank: rgb(207, 248, 252);
  --text-color-main: rgb(13, 12, 12);
  --text-color-contract: #6399f5;
  --block-color: #6399f5;
  --border-radius: 30px;
  --blank-border: none;
  --border: 2px solid;
  --lime-color: rgb(161, 255, 231);

  --font-weight-hard: 800;
  --font-weight-medium: 500;
  --font-weight-small: 100;

  --background-gradient: linear-gradient(90deg, #699aec 0%, rgb(161, 255, 231));
}
