@import "../../styles/global.scss";

.container {
  padding: 10px 30px;
  height: 90px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.logotext {
  display: flex;
}
.head {
  max-width: 1600px;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.img {
  padding: 5px;
  width: 55px;
  height: 55px;
}
.text {
  height: 70px;
}

.list {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.links {
  padding: 0 10px;
  font-family: var(--font-link);
}
.link {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
  color: #0360ff;
  text-decoration: none;
}

.link:hover {
  color: rgb(3, 3, 159);
  cursor: grab;
}
.logo {
  padding-top: 10px;
  width: 520px;
}

.contact {
  padding: 5px;
}
