@import "../../styles/global.scss";

.box {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 14%;
  padding-top: 5px;
  padding-bottom: 35px;
  justify-content: center;
}

.container {
  display: flex;
  width: 1210px;
}
.logotext {
  flex: 5;
  flex-grow: 1;
  justify-content: space-between;
}
.head {
  box-sizing: border-box;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
}
.img {
  padding: 7px;
  width: 65px;
  height: 65px;
  position: relative;
  transform: rotate(-5deg);
  animation: pulse 3s infinite ease-in-out;
}

.img::before,
.img::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background: rgb(7, 102, 189);
}

.img::before {
  top: -150px;
}
.img::after {
  left: 580px;
}

.list {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.links {
  font-family: var(--font-family-text);
  align-items: center;
  justify-content: center;
}
.link {
  flex-grow: 1;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(6, 90, 166);
  text-decoration: none;
}

.link:hover {
  color: rgb(19, 19, 214);
  cursor: pointer;
}
.logo {
  padding-top: 2px;
  padding-right: 0px;
  width: 420px;
  height: 55px;
}

.contact {
  padding-left: 260px;
  flex: 1;
  display: flex;
  align-items: center;
}

.img:hover {
  border-radius: 35px;
  background-color: hsla(224, 93%, 53%, 0.256);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .box {
    height: 10vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 45px;
  }
  .logotext {
    padding: 0;
    margin: 0;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    padding: 0;
    width: 100%;
    max-width: 400px;
  }
  .list {
    display: none;
  }
  .links {
    display: none;
  }
  .link {
    display: none;
  }
  .contact {
    display: none;
  }
}
