@import "../../styles/global.scss";

.container{
align-items: center;
margin: 10px 220px; 
}
.box{

    background: linear-gradient(to top, var(--text-color-contract), #000000);
}
.images{
  box-shadow: 3px 15px 20px white;
  max-height: 550px;
  max-width: 1280px;
}

