@import "../../styles/global.scss";

.box {
  position: relative;
  z-index: -1;
}
.container {
  border-bottom: 15px solid rgb(255, 255, 255);
}
.ant_component {
  z-index: -1;
}
.carousel {
  height: 520px;
  width: 1500px;
  overflow: hidden;
}
.images {
  height: 520px;
  background: linear-gradient(to right, transparent, mistyrose);
}
