@import "../../styles/global.scss";

.container{
 margin: 10px;
  background-color: var(--color-main);
  border: none;
  border-radius: var(--border-radius);
  max-height: 600px;
}

.nav{
  max-width: 1700px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.content{
padding: 15px 25px;
}
.info{
  color: var(--text-color);
  font-family: var(--font-family);
   padding: 10px 20px;

}