@import "../../styles/global.scss";

.container {
  padding:0 15px;
  margin: 0 70px;
 // width: 230px;
 // background-color: rgb(236, 246, 255);
  height: 50px;
}

.list {
  box-sizing: border-box;
}
.links {
  font-family: var(--font-family-text);
  display: flex;
 justify-content: space-between;
}
.link {
  border-top: 1px solid;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  color: rgb(10, 10, 217);
 // border-left: 1px solid rgb(45, 1, 140);
  padding: 10px 0;
  margin: 3px;
justify-content: space-between;
  text-decoration: none;
}
.link:hover {
  color: rgb(4, 4, 121);
  cursor: grab;


}
