@import "../../styles/global.scss";

.container {
  z-index: 1;
  height: 30px;
  margin: 0;
  align-items: center;
  padding: 0 35px;
}

.list {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.links {
}
.link {
  font-family: var(--font-link);
  font-style: italic;
  background-color: #8db5c0;
  padding: 25px 8px;
  margin: 1px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
}
.link:hover {
  color: white;
  cursor: grab;
  background-color: var(--block-color);
}
