@import "../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  //margin-top: 5px;
}
.text {
  width: 180px;
  font-family: var(--font-family-title);
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
