@import "../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.text {
  font-family: var(--font-family-title);
  font-size: 4px;
  color: var(--text-color-contract);
  font-weight: 600;
}
